@use '../01subAtoms/subAtoms' as *;

.header {
  /* position: fixed;
  inset: 0 0 auto 0; */
  padding: 2.5vh 5vw;
  background-color: $primaryColMuted;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  &__navbar--hidden {
    display: none;
  }

  &__navbar--show {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 5vh 3vw auto auto;
    background-color: $primaryColDark;
  }
  /* &__navbar--horizontal{
    display: flex;
    justify-content: space-between;
  } */
}
