@media screen and (min-width: 800px) {
  .contact-field {
    &__label {
      max-width: 500px;
    }
  }


  .ussage{
    &__aside{
      display: block;
    }
  }
  .components {
    display: flex;
    flex-direction: row;
    align-items: initial;
    /* 
    &__sidebar{
      position: fixed;
      inset: 10vh 0 auto 3vw;
    } */

    &__sidebar-list {
      height: 60vh;
    }
  }

  .about-me {
    display: block;
    margin: 0 15vw;
  }
  .footer {
    position: fixed;
    inset: auto 0 0 0;
  }
  .contact {
    &__content {
      display: block;
      margin: 5vh 20vw 15vh;
    }

    &__content-p {
      line-height: 2.5em;
      letter-spacing: 0.075em;
    }
  }

  .headline{
    text-align: left;
    margin: 1.5em 0;
  }
  .section-title{
    text-align: center;
    margin: 1.5em 0 1em 0;
    padding: 1em 0;
  }
}
