@use '../../01subAtoms/subAtoms' as *;

.form {
  padding: 0 5vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 1.5em;
  }

  &__btn {
    margin-top: 5vh;
  }

  &__input {
    @include borderThin;
  }
}

input {
  @include borderThin;
  margin: 0.5em 1.5em;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}
