@use "../01subAtoms/subAtoms" as *;

.blog-preview{

    margin: 0 5vw;
    &__anchor{
        padding: 0;
        margin: 0;
    }
    &__title{
        text-align: left;
        font-weight: 700;
    }
}