@use "../01subAtoms/subAtoms" as *;
.main-features{
    background-color: $mainCol;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding: 5vh 10vw;
}

.main-features h2{
    color: $white;
}

.feature{
    padding: 0;


    &__title{
    color: $white;

        &::before{
            content: "*";
            margin-right: .5em;
        }
    }

    &__description{
        background-color: $white;
        border-radius: 5px;
        padding: 1em;
    }
}
