:root, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* saturation */
/* brightness */
/* paragraph + h3 */
/* h2 */
/* h1 */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3.5rem, 6vw, 4.3rem);
  font-weight: 700;
  color: #0a7575;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  text-align: center;
}

/* header{

} */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3.5rem, 6vw, 4.3rem);
  font-weight: 400;
  color: #0a7575;
  line-height: 0.8em;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2.8rem, 5vw, 3.2rem);
  font-weight: 400;
  color: gray;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
  color: gray;
  line-height: 2em;
  margin-bottom: 0.5em;
}

.boldText {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 700;
  color: #53acac;
  line-height: 2em;
  margin-bottom: 0.5em;
}

input,
textarea,
figcaption,
label,
textarea,
li,
select,
option {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
  color: gray;
  margin: 0.5em 0;
  line-height: 2em;
}

li {
  margin: 1em 0;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

img {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.2rem, 1.12vw, 1.5rem);
  font-weight: 200;
  color: gray;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
  background-color: transparent;
  text-decoration: none;
  color: #53acac;
}
a:hover {
  color: gray;
}
a :active {
  color: white;
  background-color: gray;
}
a :focus {
  color: #53acac;
  background-color: gray;
}

button {
  background-color: transparent;
  text-decoration: none;
  padding: 0.5em 1em;
}
button:hover {
  color: gray;
}
button :active {
  color: white;
  background-color: gray;
}
button :focus {
  color: #53acac;
  background-color: gray;
}

button {
  margin: 1em 0;
  color: white;
}

select {
  padding: 0.75em 1.25em;
}

blockquote {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 700;
  font-style: italic;
  color: gray;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  text-align: center;
  max-width: 75ch;
  min-width: 45ch;
}
blockquote ::before {
  content: '"';
}
blockquote ::after {
  content: '"';
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.imgSmall {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
}

.imgMed {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
}

.imgBig {
  width: 16vw;
  height: 16vw;
  object-fit: cover;
}

.iconSmall {
  width: 40px;
  height: 20px;
}

.iconMed {
  width: 40px;
  height: 40px;
}

.iconBig {
  width: 60px;
  height: 60px;
}

.iconGig {
  width: 80px;
  height: 80px;
  /* border: 1px solid $mainCol; */
  border-radius: 50%;
  padding: 1em;
}

/* .bg-dark{
    background-color: $mainCol;
} */
.header {
  /* position: fixed;
  inset: 0 0 auto 0;  */
  margin: 0;
  margin-bottom: 3vh;
  padding: 2.5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0a7575;
  /* width: 100vw; */
}
.header__up {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__icon {
  padding: 0 5vw;
  /* outline: 1px solid red; */
}
.header__down p {
  color: white;
  font-family: "Marcellus", serif;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 300;
  padding: 0 20vw;
  text-align: center;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(5rem, 1.75vw, 6.25rem);
  font-weight: 700;
  color: white;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  text-align: center;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3.5rem, 6vw, 4.3rem);
  font-weight: 700;
  color: white;
  line-height: 0.8em;
  margin-bottom: 0.5em;
  text-align: center;
}

main {
  margin: 0;
  padding: 5vh 0;
  margin-bottom: 40vh;
}

/* 
h4{
    font-size: 60px;
    color: magenta;
  } */
.footer {
  margin: 0;
  padding: 5vh 10vw;
  display: grid;
  place-content: center;
  background-color: #0a7575;
  max-width: 100vw;
}
.footer__navbar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__icon {
  margin: 0 10vw;
}

/* .article {
  margin: 5vh 0;
} */
section {
  margin: 2vh 0;
  padding: 2vh 0;
}

body {
  max-width: 100vw;
}

.App {
  max-width: 100vw;
}

.comming-soon {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comming-soon__icons {
  display: flex;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.examples__img {
  width: 90vw;
  height: 60vw;
  object-fit: cover;
  margin: 8vh 0;
}

.main-features {
  background-color: #0a7575;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3vw;
  padding: 5vh 10vw;
}

.main-features h2 {
  color: white;
}

.feature {
  padding: 0;
}
.feature__title {
  color: white;
}
.feature__title::before {
  content: "*";
  margin-right: 0.5em;
}
.feature__description {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}

.main-goal p {
  padding: 0 10vw;
}

/* .secondary-goals{
}
 */
.secondary-goals ul li {
  padding: 0 10vw;
}
.secondary-goals ul li::before {
  content: "*";
  margin-right: 0.5em;
}

.stay-connected {
  background-color: #0a7575;
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stay-connected__content {
  position: relative;
  bottom: 1vh;
}
.stay-connected__btn {
  font-size: clamp(1.6rem, 1.25vw, 2rem);
}

.stay-connected h2 {
  color: white;
}

.down-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.down-container p {
  color: white;
  font-size: clamp(1.6rem, 1.25vw, 2rem);
  margin: 0 1em;
}

.ussage__steps {
  margin: 1em 0;
  padding-right: 10vw;
  padding: 0 10vw;
}
.ussage__steps::before {
  content: "*";
  /* background-image: url("../../assets/icons/tridentIcon.png"); */
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.blog-preview {
  margin: 0 5vw;
}
.blog-preview__anchor {
  padding: 0;
  margin: 0;
}
.blog-preview__title {
  text-align: left;
  font-weight: 700;
}

.about-me {
  padding: 0 5vw;
}
.about-me__body {
  margin: 4vh 0;
  line-height: 2.12em;
}

.impressum {
  padding: 0 5vw;
}

@media screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
  }
  .hero__img {
    width: 50%;
  }
  .hero__text {
    width: 50%;
  }

  .card {
    width: 50vw;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 35vw;
  }
}
@media screen and (min-width: 800px) {
  .contact-field__label {
    max-width: 500px;
  }
}
@media screen and (min-width: 834px) {
  .burger__rest {
    display: none;
  }

  .header-navbar__rest__navbar {
    display: flex;
  }

  .secondary-goals {
    padding: 0 5vw;
  }
}
@media screen and (min-width: 1024px) {
  .App {
    padding: 0 10vw;
  }

  .card {
    width: 15vw;
  }
}

/*# sourceMappingURL=main.css.map */
