@use "../01subAtoms/subAtoms" as *;
.about-me {
  &__img {
    display: block;
    margin: 2.5vh auto;
  }

  &__body {
    margin: 3vh 0;
    padding-bottom: 1.5em;
    border-bottom: 3px solid $primaryColLight;
    margin: 1.5em 0;
  }
}
