@use "../01subAtoms/subAtoms" as *;
.components{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3vh;    
    &__sidebar{
        width: 15%;
        min-width: fit-content;
        @include borderThin;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh 2vw;
        margin-bottom: 5vh;
    }

    &__sidebar-title{
        margin-top: 0;
    }
    
    &__sidebar-list {
        overflow: scroll;
        height: 20vh;
    }

    &__sidebar-singleComponent{
        &:hover{
            color: $primaryColSat
        }
    }


    &__main-display{
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5em;
        padding: 1em 0;
        overflow: hidden;
    }

    &__main-displayTitle{
        font-size: $f5;
    }
    
    &__dropdown{
        margin-top: 5vh;
        outline: 1px solid $primaryColMuted;
        border-radius: 5px;
    }
}


.code-renderer{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buttons{
        display: flex;
    }

    &__btn{
        width: fit-content;
        margin: 1.5em 1.5em;
    }
}

.components{
    &__title{
        text-align: center;
        display: block;
    }
}