@use "../01subAtoms/subAtoms" as *;
.contact{
    &__link{

        margin: 1.25em 0;
        width: fit-content;
        color: $primaryColDark;
    }
    /* 
    &__li{
        background-color: red;
    } */

  /*   &__list{
        padding: 0;
    } */
}