@use  "../01subAtoms/subAtoms" as *;
.installation{
    &__section{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
    }

    &__subheadline{
        text-align: center;
    }
    &__WIP{
        text-align: center;
        margin-top: 0;
        padding-top: 0;
        background-color: $grey2;
        color: $primaryColLight;
    }
}